<footer class='component footer'>
    <div class='wrapper-footer'>
        <div class='footer-nav'>

            <div class='footer-nav-group'>
                <p class='footer-nav-category'>Lorem ipsum</p>
                <ul class='footer-nav-list'>
                   
                    <li>lorem sdlkfj sdfjsdfj jfsifj osij</li>
                    
                   
                </ul>
                <br>
                <p >Lorem ipsum</p>
                <ul class='footer-nav-list'>
                   
                    <li>lorem sdlkfj sdfjsdfj jfsifj osij</li>
                    
                   
                </ul>
            </div>          
            
            <div class='footer-nav-group'>
                <p class='footer-nav-category'>Lorem ipsum</p>
                <ul class='footer-nav-list'>
                   
                    <li>lorem sdlkfj sdfjsdfj jfsifj osijorem sdlkfj sdfjsdfj jfsifj osijorem sdlkfj sdfjsdfj jfsifj osijorem sdlkfj sdfjsdfj jfsifj osij</li>
                    
                   
                </ul>
            </div>          
            
            <div class='footer-nav-group'>
                <br>
                <p class='footer-nav-category'>Lorem ipsum</p>
                <ul class='footer-nav-list'>
                   
                    <li>lorem sdlkfj sdfjsdfj jfsifj osij</li>
                    
                   
                </ul>
                <br>
                <p >Lorem ipsum</p>
                <ul class='footer-nav-list'>
                   
                    <li>lorem sdlkfj sdfjsdfj jfsifj osij</li>
                    
                   
                </ul>
            </div>              
            
            <div class='footer-nav-group'>
                <p class='footer-nav-category'>Lorem ipsum</p>
                <ul class='footer-nav-list'>
                   
                    <li>lorem sdlkfj sdfjsdfj jfsifj osijorem sdlkfj sdfjsdfj jfsifj osijorem sdlkfj sdfjsdfj jfsifj osijorem sdlkfj sdfjsdfj jfsifj osij</li>
                    
                   
                </ul>
            </div>

        </div>
        <div class='footer-copyright'>
            <span>2018 DeadEnd Development. All rights reserwed</span> 
        </div>
    </div>
</footer>
