<div class="component form">
    <div class="wrapper">
        <div class=form-header>
            <p class="get">Get in touch</p>
            <p class="if">If you have questions about purchasing ISV Online you're in the right place </p>
        </div>
        <form class="" novalidate>
            <fieldset>
                <label for="firstname" class="p_form">First name</label>
                <input type="text" id="firstrname" name="firstname" class="input" required />
                <p class="validity">Zła wartość</span>
            </fieldset>
            <fieldset>
                <label for="lastname" class="p_form">Last name</label>
                <input type="text" id="lastname" name="lastname" class="input" required />
                <p class="validity">Zła wartość</p>
            </fieldset>
            <fieldset>
                <label for="company" class="p_form">Company</label>
                <input type="text" id="company" name="company" class="input" required />
                <p class="validity">Zła wartość</p>
            </fieldset>
            <fieldset>
                <label for="email" class="p_form">Email</label>
                <input type="email" id="email" name="email" class="input" required />
                <p class="validity">Zła wartość</p>
            </fieldset>
            <fieldset>
                <label for="telephone" class="p_form">Telephone</label>
                <input type="text" id="telephone" name="telephone" class="input" pattern="[0-9]{9}" required />
                <p class="validity">Zła wartość</p>
            </fieldset>
            <div class="d_but">
                <button type="submit" class="btn">SEND</button>
            </div>
        </form>
        <p class="mess">YOUR MESSAGE</p>
        <div class="message">
            <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua...</P>
        </div>
        <p class="p_form">Prove you're human. What's 8 + 10 ?</p>
        <input type="text" id="human" name="human" class="human" required />
        <div class="priv_polic">
            <p class="small">We hate spam as much as you do! View our </p>
            <p class="small_v"> Privacy policy</p>
        </div>
    </div>
</div>