<header class='header' data-js="header">
    <div class="wrapper-header">
            <a href='#' class="header__logo">
                <img src='/img/logo.png' alt='Dead End Logo' class="header__logo-img">
            </a>
            <div id="menuToggle" class="menuToggle">
            <!-- <button class="header__button"></button> -->
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
    
            <ul class='header__nav'>
                <li class="nav__item">
                    <a href='#'>Skill Testing</a>
                </li>
                <li class="nav__item">
                    <a href='#'>Training</a>
                </li>
                <li class="nav__item">
                    <a href='#'>Create your own</a>
                </li>
                <li class="nav__item">
                    <a href='#'>About Us</a>
                </li>
                <li class="nav__item">
                    <a href='#'>News</a>
                </li>
                <button class="nav__item button">
                        <a href='#'>Contact Us</a>
                </button>
            </ul>
        </div>
        </div>
</header>