<div class="icon">
<div class="icon-title"><h4>WHO WE WORK WITH</h4></div>
<div class="icon-wrapper">
    
    <div class="icon-cont">
        <picture>
            <source media="(min-width: 768px)" srcset="..\img\logo1.png">
            <img src="..\img\logo2.png" alt="Loga partnetów">
        </picture>
    </div>
    <div class="icon-cont">
        <picture>
            <source media="(min-width: 768px)" srcset="..\img\logo1.png">
            <img src="..\img\logo2.png" alt="Loga partnetów">
        </picture>
    </div>
</div>
</div>