<div class="component_n">
    <div class="wrapper_n">
        <div class="wrapper_header">
            <h2 class="p3">News & Highlights</h2>
        </div>
        <div class="boxes">
            <div class="cont">
                <img src="https://via.placeholder.com/352x206.png?text=miejsce+na+grafike" alt="" class="img" />
                <p class="p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <p class="p2">
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat
                </p>
                <div class="cont_foot">
                    <div class="cont_foot_r">
                        <p class="p4">Autor: DeadEnd Development</p>
                    </div>
                    <div class="cont_foot_l">
                        <p class="p4">Date: 15 June 2019</p>
                    </div>
                </div>
            </div>

            <div class="cont">
                <img src="https://via.placeholder.com/352x206.png?text=miejsce+na+grafike" alt="" />
                <p class="p1">sed do eiusmod tempor incididunt ut labore et dolore</p>
                <p class="p2">
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat
                </p>
                <div class="cont_foot">
                    <div class="cont_foot_r">
                        <p class="p4">Autor: DeadEnd Development</p>
                    </div>
                    <div class="cont_foot_l">
                        <p class="p4">Date: 15 June 2019</p>
                    </div>
                </div>
            </div>
            <div class="cont">
                <img src="https://via.placeholder.com/352x206.png?text=miejsce+na+grafike" alt="" />
                <p class="p1">Ut enim ad minim veniam ullamco laboris nisi</p>
                <p class="p2">
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat
                </p>
                <div class="cont_foot">
                    <div class="cont_foot_r">
                        <p class="p4">Autor: DeadEnd Development</p>
                    </div>
                    <div class="cont_foot_l">
                        <p class="p4">Date: 15 June 2019</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
