<div class="stat">
    <div class="stat-wrapper">
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
        <p class="paragraf">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.</p>
    </div>
    <div class="stat-flexBox__parent">
            <div class="stat-flexBox">
                <span class="span1">78</span>
                <span class="span2">Organisation</span>
            </div>
            <div class="stat-flexBox">
                <span class="span1">2,765</span>
                <span class="span2">Testers</span>

            </div>
            <div class="stat-flexBox">
                <span class="span1">12</span>
                <span class="span2">Countries</span>
            </div>
        </div>
</div>