<header class="tiles" data-js="tiles">
    <div class="wrapper-tiles">
     <div class="tiles__item">
        <h3 class="h3">Typing & Data Entry</h3> 
        <div class="icon__wrapper">
            <img src="/img/startup.png" alt="" class="icon">
        </div>
     </div>
     <div class="tiles__item">
        <h3 class="h3">Typing & Data Entry</h3> 
        <div class="icon__wrapper">
            <img src="/img/startup.png" alt="" class="icon">
        </div>
     </div>
     <div class="tiles__item">
        <h3 class="h3">Typing & Data Entry</h3> 
        <div class="icon__wrapper">
            <img src="/img/startup.png" alt="" class="icon">
        </div>
     </div>
     <div class="tiles__item">
        <h3 class="h3">Typing & Data Entry</h3> 
        <div class="icon__wrapper">
            <img src="/img/startup.png" alt="" class="icon">
        </div>
     </div>
    </div>
</header>