//colors
$color1: #FFFFFF;
$color2: #F2F2F2;
$color3: #F8F8F8;
$color4: #7A217F;
$color5: #767676;
$color6: #B7B7B7;
$color7: #000000;
$color8: #0D70B7;
$color9: #707070;
$color10: #00A3E2;
$color10: #DADADA;


//font-weight:
$light: 300;
$normal: 400;
$bold: 500;

//font-family:

$poppins: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;

//media
$bp-tablet: 768px;
$bp-desktop: 1280px;






