// global
@import 'reset.scss';
@import '_news.scss';
@import 'variables.scss';
@import '_mixins.scss';
@import 'c_icons.scss';
@import 'c_stat.scss';
@import 'c_twitter.scss';

// addons

// our modules

html {
    font-family: $poppins;
}

h1, .h1 {
    font-size: 36px;
    font-weight: $bold;
}
h2, .h2 {
    font-size: 32px;
    font-weight: $bold;
}

p {
    font-size: 16px;
    font-weight: $bold;
}
